.wd-assignmentsedit-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 500px;
    margin: 0px;
    margin-left: 20px;   
}

.wd-assignmentsedit-navigation li {
    padding-left:10px;
    margin-bottom: 10px;
    margin-top:10px;
    padding-top: 10px;
    padding-bottom:10px;
}
.wd-assignmentsedit-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-assignmentsedit-navigation li.wd-active a {
    color:black;
}
.wd-assignmentsedit-navigation a {
    color:red;
    text-decoration: none;
}

.wd-assignmentsedit-moveright {
    margin-left: 460px;
}

.wd-assignmentsedit-hr {
    width: 1390px; 
}

.wd-assignmentsedit-hrr {
    width: 1300px; 
}

.wd-assignmentsedit-navigation li a i.fa-regular.fa-eye-slash {
    vertical-align: middle;
}

.wd-assignmentsedit-third {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 1000px;
    margin: 0px;
    margin-left: 20px;   
}

.green-circle-check {
    color: green; 
    background-color: white; 
}

.green-check {
    color: white; 
    background-color: green; 
}

.wd-assignmentsedit-right {
    margin-left: 500px;
}

.wd-assignmentsedit-rightt {
    margin-left: 850px;
}

.wd-assignmentsedit-navigation4 {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 1000px;
    margin: 0px;
    margin-left: 60px;   
}

.wd-assignmentsedit-red {
    color:red;
    text-decoration: none; 
}

.wd-assignmentsedit-black {
    color:black;
}

.wd-assignmentsedit-Assright {
    margin-left: 100px;
}

.wd-assignmentsedit-link {
    color:black;
    text-decoration: none;
    font-size: 1.5em;
}

.wd-assignmentsedit-navigation3 {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 650px;
    margin: 0px;
    margin-left: 60px;   
}

.wd-assignmentedit-listright {
    display: flex;
    justify-content: space-between;
}

.wd-assignmentsedit-bg2 {
    background-color: white;
    color:black;
}

.wd-assignmentsedit-checkright {
    margin-left: 160px;
}

.wd-assignmentsedit-onlineright {
    margin-left: 30px;
}

.wd-assignmentedit-button {
    width: 150px; 
}

.wd-assignmentsedit-online {
    margin-left: 20px;
}

.wd-assignmentsedit-onlineleft {
    margin-left: 20px;
}

.wd-assignmentsedit-buright {
    margin-left: 500px;
}